In [6]:
a=float(input("enter your value="))
b=float(input("enter your value="))
print("a is maximum than b" if a>b else " b is maximum than a")

enter your value= 8
enter your value= 3

a is maximum than b

In [7]:
x=[3,5,6]
print(max(x))

6

In [11]:
a=float(input("enter your value="))
print("The number is positive" if a>=0 else " The number is negative")

enter your value= 5

The number is positive

In [14]:
a=float(input("enter your value="))
print("The number is even" if a%2==0 else " The number is odd")

enter your value= 9

 The number is odd

In [18]:
a=float(input("enter year days="))
print("The year is not leap" if a<=365 else " The year is leap")

enter year days= 400

 The year is leap

In [26]:
i="a"
while ord(i) <= ord('z'):
    print(i)
    i = chr(ord(i) + 1)

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

In [1]:
x=float(input("Enter your number:"))
for i in range (13):
    print(x*i)

Enter your number: 2

0.0
2.0
4.0
6.0
8.0
10.0
12.0
14.0
16.0
18.0
20.0
22.0
24.0

In [8]:
for i in range (1,101):
  if i%2==0:
     print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [15]:
x=[1,2,3,4,5,6,7,8,9]
print(sum(x))
print(min(x))
print(max(x))

45
1
9

In [22]:
x=(1,2,3)
x.append(1)
print(x)

AttributeError: 'tuple' object has no attribute 'append'

In [23]:
x={1,2,3,4}
x.remove(4)
print(x)

{1, 2, 3}

In [24]:
x={1,2,3,4}
x.clear()
print(x)

set()

In [25]:
x={1,2,3,4}
print(min(x))
print(max(x))

1
4

In [30]:
x=(1,2,3)
print(x.index(1))

0

AttributeError: 'tuple' object has no attribute 'reverse'

In [29]:
x=(("a",1),("b",2))
y=dict(x)
print(y)

{'a': 1, 'b': 2}